insert into user(username,password,email,phone_num,info,avatar,uuid) values('zs111','zs111','zs111@qq.com','13911111111','iamzs111','link111.jpg','111');
insert into user(username,password,email,phone_num,info,avatar) values('zs112','zs112','zs112@qq.com','13911111112','iamzs112','link112.jpg');
insert into user(username,password,email,phone_num,info,avatar) values('zs113','zs113','zs113@qq.com','13911111113','iamzs113','link113.jpg');
insert into user(username,password,email,phone_num,info,avatar) values('zs114','zs114','zs114@qq.com','13911111114','iamzs114','link114.jpg');
insert into user(username,password,email,phone_num,info,avatar) values('zs115','zs115','zs115@qq.com','13911111115','iamzs115','link115.jpg');


insert into commenmt(movie_id,user_id,content,addtime) values(1,1,'boring',now());
