{% extends "admin/base.html" %}
{% block content %}
    <!--内容-->
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
            <li class="active">添加标签</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加标签</h3>
                    </div>
                    <form role="form", method="post">
                        {{ form.csrf_token }}
                        <div class="box-body">
                        {% for msg in get_flashed_messages(category_filter='ok') %}
                         <div class="alert alert-success alert-dismissible" role="alert">
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             <strong>{{ msg }}</strong>
                        </div>
                        {% endfor %}

                        {% for msg in get_flashed_messages(category_filter='err') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                             <strong>{{ msg }}</strong>
                        </div>
                        {% endfor %}
                            <div class="form-group">
{#                                <label for="input_name">标签名称</label>#}

                                {{ form.name.label(for="input_name") }}
{#                                <input type="text" class="form-control" id="input_name" placeholder="请输入标签名称！">#}
                                {{ form.name(class="form-control", id="input_name", placeholder="请输入标签名称！") }}
                                {% for e in form.name.errors %}
                                    <span style="color: red">
                                    {{ e }}
                                    </span>
                                 {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
{#                            <button type="submit" class="btn btn-primary">添加</button>#}
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
